<div class="back">
  <div class="row m-0 p-0">
        <div class="col-lg-12">
          <div class="text-center mt-5 mb-5">
            <h3>A F5 Distribuída em todo o país</h3>
          </div>
        </div>
        
        <div class="col-lg-12">
          <div class="d-flex justify-content-around align-items-center text-center"> 
            <div>
              <img class="img-fluid" src="../../../assets/filiais.png" alt="filial">
              <h2>25</h2>
              <p>Filiais em todo Brasil</p>
            </div>  

            <div>
              <img class="img-fluid" src="../../../assets/colaboradores.png" alt="colaboradores">
              <h2>1000</h2>
              <p>Grandes colaboradores</p>
            </div>
            <div>
              <img class="img-fluid" src="../../../assets/clientes.png" alt="clientes">
              <h2>+1164516</h2>
              <p>Clientes atuando conosco</p>
            </div>
            <div>
              <img class="img-fluid" src="../../../assets/parceiros.png" alt="parceiros">
              <h2>+8114</h2>
              <p>Parceiros fortalecendo nossa força</p>
            </div>
          </div>
      </div>
    </div>
</div>



  