<ng-template #content let-modal>

    <div class="ajuste-close">
        <a routerLinkActive routerLink="/home" (click)="modal.dismiss('Cross click')" class="ml-3"><img src="../../../assets/logo-inicio-do-site.png"></a>
         <button type="button" class="close btn mr-3" (click)="modal.dismiss('Cross click')">
             <span aria-hidden="true">&times;</span>
         </button>
     </div>
        
     <div class="modal-body modal-color">
         <app-submenu [modal]="modal" (modalClosed)="testModalClosed($event)"></app-submenu>
     </div>

</ng-template>
  
<button class="btn button-funcionalidades mb-2 mr-2" (click)="openXl(content)">PARA VOCÊ</button>
  

  