.alinhar-centro{
    text-align: center;
  }
  
  h4{
    display: flex;
    text-align: center;
  }
  .button-funcionalidades{
    border:none;
    width: 180px;
    height: 40px;
    border-radius: 50px;
    background:  rgb(255,221, 0);
    color: #fff;
  
  }
  
  .button-funcionalidades:hover{

    color: #000;
  
  }
  .button-funcionalidades:focus{
   box-shadow: none;
  }
  
  .img-back{
    background-image: url('../../../assets/Background-4.jpg' );
    background-repeat: no-repeat;
  
  }

  .ajuste-close{
      display: flex;
      justify-content: space-between;
      margin: 0 20px;
  }
  
.modal-color{
  background-color: #fff;
}
  
