.ajuste-contato{
  display: flex;
  justify-content: center;
}

.largura-card{
  width: 100%;
  min-width: 300px;
  border-radius: 10px;
}
i{
  color: rgb(255, 106, 19);
}

@media only screen and (max-width: 600px){
  .ajuste-contato{
    display: flex;
    text-align: center;
  }
}