.back{
  background: rgb(255, 106, 19);
  height: auto;
}


h3{
  font-weight: 800;
}

div.mt-5 i{
  color: rgb(255, 106, 19);
  padding: 0 5px;
}

div.mt-5 h5 {
  margin-top: 35px;
}

.ajuste-button {
  
}




img{
  height: auto;
  width: 60vh;
}
.largura-card{
  width: 100%;
  min-width: 300px;
  border-radius: 10px;
}

.ajuste-img{
  display: flex;
  justify-content: center;
  align-items: center;
}



span{
  font-size: 40px;
}

.ajuste-texto{
  margin-top: 50px;
  color: white;
  
}

.ajuste-texto-1{
 
  color: white;
  
}


.ajuste-texto h1{
  width: 400px;   
}

.ajuste-texto a{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 170px;
}

i{
  color: #fff;
}

a:focus{
  box-shadow: none;
}

a:hover{
  margin-top: 25px;
  transition: all 0.6s;
}


ngb-rating:focus{   
  box-shadow: none;
}

.borda-formulario{
  
  border-radius: 20px;
  box-shadow: 0px 0px 4px -2px ;

}
div.form-group input{
  width: 100%;
  height: 50px;
}


.esq{
  display: flex;
  justify-content: space-between;
}

.esq p{
  font-size: 12px;
  
}

.config-form{
  background-color:#fff; z-index: 1;
}

.config-header{
  z-index: 0;
}


@media only screen and (max-width: 992px){

  .borda-formulario{
    box-shadow: none;
    
  }

  .background-resp{
    background: rgb(255, 106, 19);
    height: auto;
    padding: 35px 0;
    color: #fff;

  }

  .lado-lado{
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 992px){
  .ajuste-div{
    margin-top: -105px; 
  } 
}

