
<section>

  <div class="d-block d-sm-block d-md-block d-lg-none d-xl-none background-resp">
    <div class="container">
      <div class="row">
        <div class="col ajuste-header-resp">
          <span class="font-weight-bold">Fale com a gente: entre em contato com  a F5 Promotora</span>
          <p class="font-weight">Queremos saber mais de você</p>
          <a routerLink="/contato" class="btn"><i class="fas fa-arrow-down fa-3x"></i></a>
        </div>
      
      </div>
    </div>
  </div>

  <div class="back d-none d-md-none d-lg-block d-xl-block config-header">
    <div class="container">
      <div class="row">
        <div class="col ajuste-texto">
        <h2>Fale com a gente: entre em contato com a F5 Promotora</h2>
        <p>Queremos saber mais de você</p>
        <a class="btn"><i class="fas fa-arrow-down fa-3x"></i></a>
        </div>
        <div class="ajuste-img col">
          <img src="../../../assets/dd.png" alt="">
        </div>
      </div>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
        <div class="mt-5">
          <h4>CONTATO</h4>
          <h5>TELEFONE</h5>
          <p style="color: #293896">(88) 3411 - 3010</p>
         <strong><a routerLink="/conheca-f5"> Confira tudo sobre a F5 Promotora</a></strong>
        </div>
    </div>

    <div class="col-lg-6 ml-auto borda-formulario config-form ajuste-div" [@bounceInUp]="bounceInUp">
      <h3 class="mb-3 mt-4">Fale Conosco</h3>
      <p class="mb-5">Escolha a área que deseja entrar em contato</p>
      <form>
          <div class="form-row"> 
            <div class="form-group col-lg-12">
            
              <select class="form-control ajustar-button" id="exampleFormControlSelect1">
                <option disabled>Motivo</option>
                <option>Elogio</option>
                <option>Informação</option>
                <option>Reclamação</option>
                <option>Sugestão</option>
              </select>
            </div>

            <div class="form-group col-lg-12">
              <input type="text" class="form-control ajustar-button" placeholder="Nome completo * ">
            </div>

            <div class="form-group col-lg-12">
              <input type="email" class="form-control ajustar-button" placeholder="E-mail *">
            </div>

            <div class="form-group col-lg-3">  
              <input type="text" class="form-control ajustar-button" placeholder="DDD *">
            </div>

            <div class="form-group col-lg-9">  
              <input type="text" class="form-control ajustar-button" placeholder="Telefone *">
            </div>

            <div class="form-group col-lg-4">
              <select id="inputState" class="form-control ajustar-button">
                <option selected>UF *</option>
                <option>...</option>
              </select>
            </div>

            <div class="form-group col-lg-8">
              <input type="text" class="form-control ajustar-button" placeholder="Cidade">
            </div>

            <div class="form-group col-lg-12">
              <input type="text" class="form-control ajustar-button" placeholder="CPF / CNPJ">
            </div>

            <div class="col-lg-12">
              <div class="form-group">
                <textarea placeholder="Em que posso ajudar? *" class="form-control ajustar-button" rows="7"></textarea>
              </div>
            </div>

        </div>

            <div class="esq mb-4 mt-4">
              <strong><p>Campos obrigatórios *</p></strong>
              <button type="submit" class="btn btn-success  ml-1" (click)=" EnviarForm()">Enviar Mensagem</button>
            </div>

      </form>

    </div>
  </div>
</div>
<hr>

</section>
