.back{
    background-color: rgb(31, 10, 88);
    display: flex;
    text-align: center;
    align-items: center;
    min-height: 25vh;
    width: 100%;
    color: white;
    border-radius: 3px;
    margin: 10px 0 ;
}


h3{
    font-weight: 800;
}

a:link
{
text-decoration:none;
}

@media only screen and (min-width: 992px){
    .back{
        min-height: 20vh;
       
    }
}