footer{
  background: rgb(255,106,19);

}

a{
  color: #212529;
}

a:hover{
  text-decoration: none;
  color: rgb(225, 221, 0)
}

li{
  text-align: center;
}

h5{
  color: white;
  text-align: center;
}
