
.back{
    background: rgb(14, 6, 2);
    display: flex;
    align-items: center;
    height: auto;
    color: #fff;
    border-radius: 3px;
    font-family: 'Roboto';
   
}

.back-2{
  background: #fff;
  min-height: 5vh;
}


div.text-center h6{
  
  font-size: 12px;
}

a{
  text-decoration: none ;
  color: #fff;
}

a.m-2 i {
  color: rgb(255,106,19);
}

.color-a{
  color: #000
}

@media only screen and (max-width: 992px){
  .back{
      background: rgb(14, 6, 2);
      display: flex;
      align-items: center;
      height: auto;
      color: white;
      border-radius: 3px;
      min-height: 100px;
      text-align: center;
  }
}