.back-1{
  background: #fff;
  min-height: 25vh;
}

.back-2{
  background: rgb(255, 106, 19);
  min-height: 5vh;
}



div.text-center h6{
  
  font-size: 12px;
}

ul li a{
  text-decoration: none;
  color: black;
  font-size: 15px;
}

