<!-- Footer -->
<footer class="mt-5 pt-4 footer-color">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4">

        <!-- Content -->
        <h5 class="text-uppercase">F5 Promotora</h5>
        <p>A F5 Promotora, foi fundada em Março de 2005, em Russas interior do Ceará, quando as sócias Paula Peixoto e Nanderia de Sousa, decidiram abrir uma pequena loja de empréstimos, chamada na época de Casacred. Anos depois, após a dissolução da sociedade a empresa passou a ser gerenciada apenas pela Senhora Paula, o nome F5 Promotora surgiu, após uma reunião familiar, foi onde a mesma viu que o pilar mais importante para crescimento de tudo era a família, e com sua empresa não poderia ser diferente.
          Paula com sua mãe, irmã, e seus dois irmãos, eram, a família dos 5, de onde então nasceu
          o nome F5..
        </p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3">

        <!-- Links -->
        <h5 class="text-uppercase">Menu</h5>

        <ul class="list-unstyled">
          <li>
            <a routerLink="/conheca-f5" >Conheça a F5</a>
          </li>
          <li>
            <a routerLink="/para-voce">Para Você</a>
          </li>
          <li >
            <a routerLink="/produto">Produtos</a>
          </li>

          <li>
            <a routerLink="/blog">Blog</a>
          </li>

          <li>
            <a routerLink="/seja-parceiro">Seja um Parceiro</a>
          </li>

          <li>
            <a routerLink="/contato">Contato</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      

        <!-- Links -->
       
  <div class="col-xl-4 ">
    <div class="card largura-card "  data-aos="fade-left" data-aos-delay="1000" data-aos-duration="2000">
      <img class="card-img-top" src="../../../assets/file.jpg">
      <div class="card-body">
        <h5 class="card-title">INFORMAÇÕES</h5>
        <p class="card-text"><i class="fas fa-home"></i> Rua Elisa Maciel Santiago, nº 1989 - Guanabara - Russas / CE.</p>
        <p class="card-text"><i class="fas fa-phone"></i> Telefone: (88) 3411 - 3010</p>
        <p class="card-text"><i class="far fa-envelope"></i> contato@f5promotora.com.br</p>
        <p class="card-text"><i class="fas fa-globe"></i> f5promotora.com.br</p>

      </div>
    </div>
  </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

    
  <!-- Footer Links -->

  <!-- Copyright -->
  
  <div class="text-center mt-3 spy-3">
    <div class="p-color">
      <p class="mr-3">F5 PROMOTORA E SERVICOS CADASTRAIS EIRELI inscrita no Cadastro Nacional de Pessoas Jurídicas ("CNPJ/MF") sob o nº 13.041.159/0001-04</p>
       <p class="mr-3"> no endereço Rua Elisa Maciel Santiago nº 1898, Bairro Guanabara, Município de Russas – CE, CEP 62900-000</p>
    </div>
    <div>
      <a href="http://f5promotora.com.br/"> © F5 Promotora - Serviços Financeiros</a>
    </div>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
