<div class="container-fluid mt-5">
  <footer>

    <div class="row back-1">
      <div class="col-lg-12">
        <div class="d-flex justify-content-center ">
          <a href="#" class="m-2"><i class="fab fa-instagram fa-2x"></i></a>
          <a href="#" class="m-2"><i class="fab fa-facebook fa-2x"></i></a>
          <a href="#" class="m-2"><i class="fab fa-linkedin fa-2x "></i></a>
        </div>
      </div>
      <div class="container">
      <hr>
      <div class="col-lg-12">
        <div class="text-center">
          <ul class="list-unstyled">
            <li>
             <strong><span>Atendimento:</span></strong><a href="/contato"> contato@f5promotora.com.br (24Horas)</a>
            </li>
            <li>
              <strong><span>Ouvidoria:</span></strong><a href="/contato"> contato@f5promotora.com.br</a>
            </li>
           
          </ul>
        </div>
      </div>
      <hr>
      <div class="col-lg-12">
        <div class="text-center">
        <h6>F5 PROMOTORA E SERVICOS CADASTRAIS EIRELI inscrita no Cadastro Nacional de Pessoas Jurídicas ("CNPJ/MF") sob o nº 13.041.159/0001-04
          no endereço Rua Elisa Maciel Santiago nº 1898, Bairro Guanabara, Município de Russas – CE, CEP 62900-000</h6>
        </div>
      </div>
    
    </div>
  </div>
   

    <div class="row back-2">
      <div class="col-lg-12">
        <div class="text-center ">
          <p>2020 F5 Promotora - Serviços Financeiros</p>
        </div>
      </div> 
    </div>
  
  </footer>

</div>