<!-- Footer -->
<footer class="pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">F5 Promotora</h5>
        <p>A F5 Promotora, foi fundada em Março de 2005, em Russas interior do Ceará, quando as sócias Paula Peixoto e Nanderia de Sousa, decidiram abrir uma pequena loja de empréstimos, chamada na época de Casacred. Anos depois, após a dissolução da sociedade a empresa passou a ser gerenciada apenas pela Senhora Paula, o nome F5 Promotora surgiu, após uma reunião familiar, foi onde a mesma viu que o pilar mais importante para crescimento de tudo era a família, e com sua empresa não poderia ser diferente.
          Paula com sua mãe, irmã, e seus dois irmãos, eram, a família dos 5, de onde então nasceu
          o nome F5..
        </p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Menu</h5>

        <ul class="list-unstyled">
          <li>
            <a routerLink="/conheca-f5" >Conheça a F5</a>
          </li>
          <li>
            <a routerLink="/para-voce">Para Você</a>
          </li>
          <li >
            <a routerLink="/produto">Produtos</a>
          </li>

          <li>
            <a routerLink="/blog">Blog</a>
          </li>

          <li>
            <a routerLink="/seja-parceiro">Seja um Parceiro</a>
          </li>

          <li>
            <a routerLink="/contato">Contato</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Redes sociais</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://www.facebook.com/F5promotora/"> <i class="fab fa-facebook-square fa-2x"></i></a>
          </li>

          <li>
            <a href="https://www.instagram.com/f5promotora/"><i class="fab fa-instagram fa-2x"></i></a>
          </li>

          <li>
            <a href="https://www.linkedin.com/company/f5-promotora/"><i class="fab fa-linkedin fa-2x"></i></a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div style="background-color: #fff" class="text-center mt-3 spy-3">©
    <a href="http://f5promotora.com.br/"> F5 Promotora - Serviços Financeiros</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
