.back{
    background: rgb(124, 6, 6);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    height: 70vh;
    color: #fff;
    border-radius: 3px;
    margin: 10px 0; 
}


h3{
    font-weight: 800;
}

a:link
{
text-decoration:none;
}

@media only screen and (max-width: 992px){
    .back{
        background: rgb(255, 106, 19);
        display: flex;
        align-items: center;
        height: 70vh;
        color: white;
        border-radius: 3px;
        margin: 10px 0; 
        min-height: 100px;
        text-align: center;
    }
}