<div class="back mb-5" data-aos="fade-up">
    <div class="container">
            <div class="row m-0 p-0 d-flex align-items-center">
                <div class="col-lg-8">
                    <p>Quem somos?</p>
                    <h3>Conheçam um pouco mais sobre nossos produtos</h3>
                    <p>O melhor do empréstimo consignado da região, confiança e segurança você encotra aqui.</p>
                    <a href="/produtos"> <i class="fas fa-arrow-right " data-aos="fade-right"></i> Saiba Mais</a>
                </div>

                <div class="col-lg-4 d-none d-lg-block">
                    <img class="img-fluid img" src="../../../assets/homem-produto.png" alt="homem-produto">
                </div>
            </div>
    </div>
    
</div>