<div class="back mb-5">
    <div class="container">
    <div class="row m-0 p-0 d-flex align-items-center mb-5">
        
            <div class="col-lg-7 mt-5">
                <p>Bem vindo à FORMALIZAÇÃO! </p>
                <h3>Conheçam mais nossa Formalização</h3>
                <p>Aqui você encontra toda a documentação necessária para o preenchimento e envio legal das suas necessidades</p>
            </div>

            <div class="col-lg-5 d-flex justify-content-center">
                <img class="img-fluid img" src="../../../assets/doc.png" alt="homem-historia">
            </div>
        </div>
    </div>
</div>