<div class="container p-0">
    <div class="row m-0 p-0">
        <div class="col-lg-4 m-0 p-0">
            <div class="border rounded d-flex flex-column align-items-center">
                <img class="img-fluid d-none d-lg-block" src="../../../assets/maos.png" alt="maos">
                <a href="/parceiro" class="mt-3"> <h4>Seja Parceiro</h4> </a>
            </div>   
        </div>
        <div class="col-lg-4 m-0 p-0">
            <div class="border rounded d-flex flex-column align-items-center">
                <img class="img-fluid d-none d-lg-block" src="../../../assets/uniao.png" alt="uniao">
                <a href="/contato"> <h4>Faça parte do time F5 Promotora</h4> </a>
            </div>  
        </div>
        <div class="col-lg-4 m-0 p-0">
            <div class="border rounded d-flex flex-column align-items-center">
            <img class="img-fluid d-none d-lg-block mt-3" src="../../../assets/amigos.png" alt="maos">
               <a href="/parceiro" class="mt-3"> <h4>Área exclusiva do Parceiro</h4> </a>
            </div>  
        </div>
    </div>
</div>