<div class="container p-0 " data-aos="fade-up">
    <div class="row m-0 p-0">
        <div class="col-lg-4 m-0 p-0">
            <div class="border rounded">
                <a href="/home"> <h4>Seja Parceiro</h4> </a>
            </div>   
        </div>
        <div class="col-lg-4 m-0 p-0 xl-4">
            <div class="border rounded ">
                <a href="/contato"> <h4>Faça parte do time F5 Promotora</h4> </a>
            </div>  
        </div>
        <div class="col-lg-4 m-0 p-0 xl-4">
            <div class="border rounded">
               <a href="/seja-parceiro"> <h4>Área exclusiva do Parceiro</h4> </a>
            </div>  
        </div>
    </div>
</div>