<div class="back mb-5">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-lg-7 mt-5">
                <p>Você falou serviços?</p>
                <h3>Nossos serviços</h3>
                <p>Conheçam um pouco mais sobre nossos serviços. Exclusivamente feito para você</p>
            </div>

            <div class="col-lg-5 d-flex justify-content-center mb-5">
                <img class="img-fluid" src="../../../assets/servicos.png" alt="servicos">
            </div>
        </div>
    </div>
</div>

<div class="container">
   
    <div class="d-none d-lg-block d-xl-block">
        <div class="row d-flex align-items-center back-homem rounded mb-5">
                <div class="col-lg-6">
                    <div class="card mt-5 mb-5 ml-5">
                        <div class="card-body ">
                        
                            <ul class="card-text">
                                <li>
                                   <p> 
                                       Desenvolvimento web - Projetos direcionados para seu nicho com o que há de mais moderno em desenvolvimento web.
                                   </p>
                                </li>

                                <li>
                                    <p>
                                        Designer de Web - Seu projeto com a sua cara. Temos os mais talentosos designer’s do mercado para criar de forma inovadora.
                                    </p>
                                </li>

                                <li>
                                    <p>
                                        Design gráfico - Criamos a identidade visual da sua empresa com layouts únicos que vão certamente impactar se
                                    </p>
                                </li>

                                <li>
                                    <p>
                                        Web Hosting – Servidor completo para hospedagem, de forma segura e simples.
                                    </p>
                                </li>

                                <li>
                                    <p>
                                        Registro de Domínio - todo serviço de registro do seu nome e marca na internet feita e gerenciado pelos melhores profissionais.
                                    </p>
                                </li>

                                <li>
                                    <p>
                                        Plataformas móveis - Sua plataforma web para todos os dispositivos sempre mais fácil ao alcance do seu cliente.
                                    </p>
                                </li>
                            </ul>
                        
                        </div>
                    </div> 
                </div>

                <div class="col-lg-6">
                    <img class="img-fluid mr-5"  src="../../../assets/f5s.png" alt="cartao">
                </div>
        </div>
    
        <div class="row d-flex align-items-center back-seguro rounded mb-5">
            <div class="col-lg-6">
                <img class="img-fluid"  src="../../../assets/consulta.png" alt="consi">
            </div>

            <div class="col-lg-6">
                <div class="card d-flex mr-5">
                    <div class="card-body">
                    <h5 class="card-text">F5 Consula</h5>
                    <p class="card-text">Adquira já o melhor sistema de consultas já existente F5 Consulta – ADV, composto por várias ferramentas voltado para a venda de empréstimos, possuímos os dados mais atualizados do mercado. Nele você poderá fazer consultas ilimitadas. São várias vantagens e a melhor delas é o preço, adquira o MAIOR sistema de consultas pelo MENOR preço do mercado. Assim você ganha um mundo de possibilidades.

                    </p>
                    </div>
                </div> 
            </div>
        </div>
    
      
    </div>
    


    <div class="d-block d-md-block d-sm-block d-xl-none d-lg-none">
    <div class="card back-homem">
        <img class="card-img-top " src="../../../assets/f5s.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Empréstimos Consignados</h5>
          <p class="card-text">O crédito consignado é um empréstimo cujo pagamento das prestações é feito por meio de desconto direto do salário do trabalhador ou do benefício previdenciário, no caso de aposentados ou pensionistas.</p>
          
        </div>
      </div>

      <div class="card back-seguro" >
        <img class="card-img-top" src="../../../assets/consulta.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Cartão Consignado</h5>
          <p class="card-text">É um cartão de crédito comum na qual pode ser utilizados para compras e saques dentro do limite disponivel cujo o desconto minimo da fatura é realizado em folha direto do salário do trabalhador ou do benefício previdenciário, no caso de aposentados ou pensionistas.</p>
         
        </div>
      </div>

    </div>
</div>
