.header-color{
  background-color: rgb(43, 86, 167);
  
}

div.d-inline-block a{
  font-weight: 800;
} 

.btn:focus {
  outline: none !important;
}


a:hover{
  color: rgb(0, 0, 0);

}

a{
  color: #fff;
 
}

div.a-color{
  a{
    color: #fff
  }
  a:hover{
    color: #000
  }
}

.cor-dropdown{
  background: transparent;
}

.button-expanded{
  border: none;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #fff;
  border-radius: 40px;
  cursor: pointer;
  background:linear-gradient(to right, rgb(255,106,19), rgb(255,221, 0));

}

.button-parceiro{
  border:none;
  width: 180px;
  height: 40px;
  border-radius: 50px;

}

.background-drop{
  background: rgba(1, 1, 1, 0.3);
  border:none

}

.button-funcionalidades{
  border:none;
  width: 180px;
  height: 40px;
  border-radius: 50px;
  background: rgb(255,221, 0);
  color: #fff;

}

.button-funcionalidades:hover{
  border:none;
  width: 180px;
  height: 40px;
  border-radius: 50px;
  background: rgb(255,221, 0);
  color: #000;

}

.button-funcionalidades:focus{
 box-shadow: none;
}

li{
  margin-left: 10px;
  font-weight: 300;   
}

@media only screen and (max-width: 992px){
  .inverter-logo{
    display: flex;
    flex-direction: row-reverse;
  }

  .header-color{
    background-color:  rgb(255,106,19);
    
  }
  
  .background-drop{
    background: transparent;
    border:none

  }
  .background-drop a{
    color: #fff

  }


  div.a-color{
    a{
      color: #fff
    }
  }
  

}