.header-color{
  background-color: rgb(255,106,19);
  
}

a.dropdown-item{
  padding: 5px 25px !important;
}

li{
  padding: 0 25px;
}

section{
  height: 1.8rem;
}

section span {
  color: rgb(43, 86, 167);
  text-decoration: none;
  font-size: 0.6rem;
  font-family: "Ubuntu";
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 5px;
  

}

section i {
  color: rgb(43, 86, 167);
  text-decoration: none;
  font-size: 0.6rem;
}

div.d-inline-block a{
  font-weight: 800;
} 

.btn:focus {
  outline: none !important;
}

.classStickMoved {
  background-color: transparent;
  color: rgb(255,106,19);
}

li a{
  color: #fff;
  text-decoration: none;
  font-size: 0.7rem;
  font-family: "Ubuntu";
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 5px;
  
}

a:hover{
  color: rgb(0, 0, 0);

}

div.estilizacao > a{
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
  font-family: "Ubuntu";
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 5px;
}

div.estilizacao a i  {
  
  margin-right: 5px;
}


div.a-color{
  a{
    color: #fff;
    background: transparent;

    
  }
  a:hover{
    color: rgb(255,106,19)
  }
}

.cor-dropdown{
  background: transparent;
}

.button-expanded{
  border: none;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #fff;
  border-radius: 40px;
  cursor: pointer;
  background:linear-gradient(to right, rgb(255,106,19), rgb(255,221, 0));
  margin-left: 10px;

}

.button-parceiro{
  border:none;
  width: 180px;
  height: 40px;
  border-radius: 50px;

}

.background-drop{
  background: rgba(1, 1, 1, 0.4);
  border:none

}

li{
  margin-left: 10px;
  font-weight: 300;   
}

@media only screen and (max-width: 992px){
  .inverter-logo{
    display: flex;
    flex-direction: row-reverse;
  }

  .header-color{
    background-color:  rgb(255,106,19);
    
  }
  
  .background-drop{
    background: transparent;
    border:none

  }
  .background-drop a{
    color: #fff

  }


  div.a-color{
    a{
      color: #fff
    }
  }

  a.dropdown-item{
    text-align: center;
    margin-bottom: 10px;
    
  }

  li a{
    padding: 10px 0;
  }

}
