.header-color{
  background-color: rgb(255, 106, 19);
  height: 100%;
}


.btn:focus {
  outline: none !important;
}


a:hover{
  color: rgb(0, 0, 0);
  background: rgba(255, 106, 0, 0.8);
}

a{
  color: #fff;
 
}

.cor-dropdown{
  background: transparent;
}

.button-expanded{
  border: none;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #fff;
  border-radius: 40px;
  cursor: pointer;
  background:rgb(255,221, 0)

}

.button-parceiro{
  border:none;
  width: 180px;
  height: 40px;
  border-radius: 50px;

}

.button-funcionalidades{
  border:none;
  width: 180px;
  height: 40px;
  border-radius: 50px;
  background: linear-gradient(to right, rgb(255,106,19), rgb(255,221, 0));
  color: #fff;

}

.button-funcionalidades:focus{
 box-shadow: none;
}

.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}
.light-blue-backdrop {
  background-color: #5cb3fd;
}


li{
  margin-left: 10px;
  font-weight: 300;   
}




@media only screen and (max-width: 768px){
  .inverter-logo{
    display: flex;
    flex-direction: row-reverse;
  }

}