
img{
    margin-top: 25px;
}

h4{
    margin-top: 25px;
}

div.card{
    border-radius: 15px;
    margin-top: 10px;
   
}

p.card-body{
    display: flex;
    align-items: center;
    text-align: center;
}

div.card img{
    height: 40%;
    width: 40%;
}