<div class="back mb-5">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-lg-7 mt-5">
                <p>Você falou produtos?</p>
                <h3>Nossos produtos</h3>
                <p>Conheçam um pouco mais sobre nossos produtos. Exclusivamente feito para você</p>
            </div>

            <div class="col-lg-5 d-flex justify-content-center">
                <img class="img-fluid" src="../../../assets/produtos-store.png" alt="produto">
            </div>
        </div>
    </div>
</div>

<div class="container">
   
    <div class="d-none d-lg-block d-xl-block">
        <div class="row d-flex align-items-center back-seguro rounded mb-5">
                <div class="col-lg-6">
                    <div class="card d-flex ml-5">
                        <div class="card-body">
                        <h5 class="card-text">Cartão consignado</h5>
                        <p class="card-text">É um cartão de crédito comum na qual pode ser utilizados para compras e saques dentro do limite disponivel cujo o desconto minimo da fatura é realizado em folha direto do salário do trabalhador ou do benefício previdenciário, no caso de aposentados ou pensionistas.</p>
                        </div>
                    </div> 
                </div>

                <div class="col-lg-6">
                    <img class="img-fluid mr-5"  src="../../../assets/cards-cred.png" alt="cartao">
                </div>
        </div>
    
        <div class="row d-flex align-items-center back-homem rounded mb-5">
            <div class="col-lg-6">
                <img class="img-fluid"  src="../../../assets/emprestimo-c.png" alt="consi">
            </div>

            <div class="col-lg-6">
                <div class="card d-flex mr-5">
                    <div class="card-body">
                    <h5 class="card-text">Empréstimos Consignados</h5>
                    <p class="card-text">O crédito consignado é um empréstimo cujo pagamento das prestações é feito por meio de desconto direto do salário do trabalhador ou do benefício previdenciário, no caso de aposentados ou pensionistas.</p>
                    </div>
                </div> 
            </div>
        </div>
    
        <div class="row d-flex align-items-center back-emprestimo rounded mb-5">
            <div class="col-lg-6">
                <div class="card d-flex ml-5">
                    <div class="card-body">
                        <h5 class="card-text">Empréstimos Pessoal</h5>
                        <p class="card-text">O crédito pessoal é uma forma de empréstimo destinada para Pessoa Física. Nesta modalidade de crédito, o consumidor pede o empréstimo sem necessidade de oferecer garantia ou de alienar um bem que está comprando.</p>
                    </div>
                </div> 
            </div>
            <div class="col-lg-6">
                <img class="img-fluid mr-5"  src="../../../assets/pessoal.png" alt="homem">
            </div>
        </div>
    
        <div class="row d-flex align-items-center back-cartao rounded mb-5">
            <div class="col-lg-6">
                <img class="img-fluid"  src="../../../assets/security.png" alt="seguro">
            </div>
            <div class="col-lg-6">
                <div class="card d-flex mr-5">
                    <div class="card-body">
                    <h5 class="card-text">Seguro</h5>
                    <p class="card-text">Dá-se o nome de seguro a todo contrato pelo qual uma das partes (segurador) se obriga a indenizar a outra (segurado) em caso de ocorrência de determinado sinistro, em troca de um prêmio de seguro.</p>
                    </div>
                </div> 
            </div>
        </div>

    </div>

    <div class="d-block d-md-block d-sm-block d-xl-none d-lg-none">
    <div class="card back-cartao">
        <img class="card-img-top " src="../../../assets/emprestimo-c.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Empréstimos Consignados</h5>
          <p class="card-text">O crédito consignado é um empréstimo cujo pagamento das prestações é feito por meio de desconto direto do salário do trabalhador ou do benefício previdenciário, no caso de aposentados ou pensionistas.</p>
          
        </div>
      </div>

      <div class="card back-homem" >
        <img class="card-img-top" src="../../../assets/cards-cred.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Cartão Consignado</h5>
          <p class="card-text">É um cartão de crédito comum na qual pode ser utilizados para compras e saques dentro do limite disponivel cujo o desconto minimo da fatura é realizado em folha direto do salário do trabalhador ou do benefício previdenciário, no caso de aposentados ou pensionistas.</p>
         
        </div>
      </div>

      <div class="card back-emprestimo" >
        <img class="card-img-top" src="../../../assets/pessoal.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Empréstimos Pessoal</h5>
          <p class="card-text">O crédito pessoal é uma forma de empréstimo destinada para Pessoa Física. Nesta modalidade de crédito, o consumidor pede o empréstimo sem necessidade de oferecer garantia ou de alienar um bem que está comprando.</p>
         
        </div>
      </div>

   

      <div class="card back-seguro" >
        <img class="card-img-top" src="../../../assets/security.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Seguro</h5>
          <p class="card-text">Dá-se o nome de seguro a todo contrato pelo qual uma das partes (segurador) se obriga a indenizar a outra (segurado) em caso de ocorrência de determinado sinistro, em troca de um prêmio de seguro.</p>
         
        </div>
      </div>

    </div>
</div>
