<div class="back mb-5">
    <div class="container">
    <div class="row m-0 p-0 d-flex align-items-center">
        
            <div class="col-lg-7 mt-5">
                <p>Área corporativa? Temos! </p>
                <h3>Conheçam mais nossos Canais Corporativos</h3>
                <p>O melhor do empréstimo consignado da região, confiança e segurança você encontra aqui.</p>
            </div>

            <div class="col-lg-5 d-flex justify-content-center">
                <img class="img-fluid img" src="../../../assets/canais.png" alt="homem-historia">
            </div>
        </div>
    </div>
</div>


<div class="container">
   
    <div class="d-none d-lg-block d-xl-block">
        <div class="row d-flex align-items-center back-seguro rounded mb-5">
            <div class="col-lg-6">
                <img class="img-fluid ml-5"  src="../../../assets/email.png" alt="email">
            </div>
            <div class="col-lg-6">
                <div class="card mr-5">
                    <div class="card-body">
                        <h4 class="card-text">Webmail</h4>
                        <p class="card-text">Plataforma exclusiva para troca de todas as informações entre nossos colaboradores e que fazem parte da Família F5.</p>
                        <a href="https://webmail.exchangecorp.com.br/owa/auth/logon.aspx" target="_blank" class="btn btn-outline-success">Visite o Webmail</a>
                    </div>
                </div> 
            </div>
        </div>
    
        <div class="row d-flex align-items-center back-emprestimo rounded mb-5">
            
            <div class="col-lg-6">
                <div class="card ml-5">
                    <div class="card-body">
                    <h4 class="card-text">F5 Consgina</h4>
                    <p class="card-text">Plataforma desenvolvida pela F5 para oferecer a todos os nossos clientes praticidade e facilidade no dia a dia</p>
                    <a href="http://f5promotora.ddns.net:8080/consignaweb/Account/Login.aspx" target="_blank" class="btn btn-outline-success">Visite o F5Consigna</a>
                </div>
                </div> 
            </div>
            <div class="col-lg-6">
                <img class="img-fluid mr-5" src="../../../assets/consigna.png" alt="consig">
            </div>
        </div>
    
        <div class="row d-flex align-items-center back-homem rounded mb-5">
            <div class="col-lg-6">
                <img class="img-fluid ml-5"  src="../../../assets/versatil.png" alt="versatil">
            </div>
            <div class="col-lg-6">
                <div class="card d-flex mr-5">
                    <div class="card-body">
                    <h4 class="card-text">Versátil</h4>
                    <p class="card-text">Sistema utilizado pelo nosso Callcenter para melhor atendê-los</p>
                    <a href="http://versatilrelacionamento.ddns.net:8082/correspondente/paginas/sistema/login.jsf" target="_blank" class="btn btn-outline-success">Visite o Versátil</a>
                </div>
                </div> 
            </div>
        </div>

    </div>

    <div class="d-block d-md-block d-sm-block d-xl-none d-lg-none">
    <div class="card back-seguro">
        <img class="card-img-top " src="../../../assets/email.png" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-text">Webmail</h4>
            <p class="card-text">Plataforma exclusiva para troca de todas as informações entre nossos colaboradores e que fazem parte da Família F5.</p>
            <a href="https://webmail.exchangecorp.com.br/owa/auth/logon.aspx" target="_blank" class="btn btn-success">Visite o Webmail</a>
        </div>
      </div>

      <div class="card back-emprestimo mt-5" >
        <img class="card-img-top" src="../../../assets/consigna.png" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-text">F5 Consgina</h4>
            <p class="card-text">Plataforma desenvolvida pela F5 para oferecer a todos os nossos clientes praticidade e facilidade no dia a dia</p>
            <a href="http://f5promotora.ddns.net:8080/consignaweb/Account/Login.aspx" target="_blank" class="btn btn-success">Visite o F5Consigna</a>
        </div>
      </div>

      <div class="card back-homem mt-5" >
        <img class="card-img-top" src="../../../assets/versatil.png" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-text">Versátil</h4>
            <p class="card-text">Sistema utilizado pelo nosso Callcenter para melhor atendê-los</p>
            <a href="http://versatilrelacionamento.ddns.net:8082/correspondente/paginas/sistema/login.jsf" target="_blank" class="btn btn-success">Visite o Versátil</a>
        </div>
      </div>

    </div>
</div>