<div class="back mb-5">
    <div class="container">
        <div class="row m-0 p-0 d-flex align-items-center mb-5">
        
            <div class="col-lg-7 mt-5">
                <p>Bem vindo aos nossos Links! </p>
                <h3>Encontre todos links interessantes PARA VOCÊ</h3>
                <p>Aqui você tem acesso a todos os links da nossa empresa.</p>
            </div>

            <div class="col-lg-5 d-flex justify-content-center">
                <img class="img-fluid" src="../../../assets/links.png" alt="links">
            </div>
        </div>
    </div>
</div>