<div class="ajuste">
<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    
    <li [ngbNavItem]="1">
      <ng-template ngbNavContent>
        <div class="row">
          <div class="col-md-4">
            <a class="btn button-funcionalidades" href="http://187.19.199.158:8080/ConsignaWeb/Account/Login.aspx">FORMULÁRIOS</a>
            <a class="btn button-funcionalidades" href="http://187.19.199.158:8080/ConsignaWeb/Account/Login.aspx">FORMALIZAÇÃO</a>
            <a class="btn button-funcionalidades" href="http://187.19.199.158:8080/ConsignaWeb/Account/Login.aspx">DOWNLOADS</a>
            <a class="btn button-funcionalidades" href="http://187.19.199.158:8080/ConsignaWeb/Account/Login.aspx">SIMULADOR</a>
            <a class="btn button-funcionalidades" href="http://187.19.199.158:8080/ConsignaWeb/Account/Login.aspx">LINKS</a>
            <a class="btn button-funcionalidades" href="http://187.19.199.158:8080/ConsignaWeb/Account/Login.aspx">CANAIS CORPORATIVOS</a>
            <a class="btn button-funcionalidades" href="http://187.19.199.158:8080/ConsignaWeb/Account/Login.aspx">SERVICE DESK</a>
            <hr>
            <div>
          <div class="d-none d-md-block">
            <p>Siga a F5 Promotora</p>
            <ul class="list-unstyled ajustar-redes">
              
              <li>
                <a href="https://www.facebook.com/F5promotora/"> <i class="fab fa-facebook-square fa-2x"></i></a>
              </li>

              <li>
                <a href="https://www.instagram.com/f5promotora/"><i class="fab fa-instagram fa-2x"></i></a>
              </li>

              <li>
                <a href="https://www.linkedin.com/company/f5-promotora/"><i class="fab fa-linkedin fa-2x"></i></a>
              </li>
            </ul>
          </div> 
            </div>
          </div>
          <div class="col-md-8 ">
            <img src="../../../assets/shutterstock_77276413.jpg" alt="foto-funcionalidades">
          </div>
        </div>
      </ng-template>
    </li>
  </ul>

</div>
  
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
  

