.ajuste{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}

a{
  width: 100%;
  margin: 3px 0;
  text-align: center;
  font-size: 16px;
}

.button-funcionalidades-cons{
  border:none;
  border-radius: 10px;
  width: 100%;
  height: 8%;
  background: #fff;
  color: rgb(255,106,19);

}
.button-funcionalidades-cons:hover{
  background: rgba(255,106,19, 0.6);
  color: #000;

}

.button-funcionalidades{
    border:none;
    border-radius: 10px;
    width: 100%;
    height: 8%;
    background: rgb(255,106,19);
    color: #fff;
  
  }
  .button-funcionalidades:hover{
    background: rgba(255,106,19, 0.6);
    color: #000;
  
  }


  img {
    width: 48%;
    height: 40%;
    margin: 5px 5px;
    border-radius: 10px;
    opacity: 0.8;
    filter: alpha(opacity=50); /* For IE8 and earlier */
  }
  
  img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); 
    transition: all 1s;/* For IE8 and earlier */
  }

  .ajustar-redes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  
  
  }

  .ajustar-redes i {
   color: rgb(255,106,19);
  }

  p{
    text-align: center;
  }


  @media only screen and (max-width:992px){
      .button-funcionalidades{
        border:none;
        width: 100%;
        height: 7vh;
        background: rgb(255,106,19);
        color: #fff;
      }

      a{
          margin-top: 3px;
      }
  }