<div class="ajuste">
<ul  ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
      <ng-template ngbNavContent>
        <div class="row">
          <div class="col-lg-4">
            <a class="btn button-funcionalidades" href="http://187.19.199.158:8080/ConsignaWeb/Account/Login.aspx" target="_blank"> <i class="text fas fa-chart-line"></i> ÁREA CONSIGNA</a>
            <a class="btn button-funcionalidades" href="https://docs.google.com/forms/d/e/1FAIpQLSdSycXPd5T2EdepChPUM1Y35LcCZpVNff_lyZS9e4vkpaqVAw/closedform" target="_blank"> <i class="fas fa-file"></i> FORMULÁRIOS</a>
            <a class="btn button-funcionalidades" href="http://f5promotora.com.br/formalizacao" target="_blank"> <i class="fas fa-check-square"></i> FORMALIZAÇÃO</a>
            <a class="btn button-funcionalidades" [routerLink]="['/downloads']" routerLinkActive="router-link-active"> <i class="far fa-file-pdf"></i> DOWNLOADS</a>
            <a class="btn button-funcionalidades" href="http://f5promotora.com.br/f5-simulador/" target="_blank"> <i class="fas fa-user"></i> SIMULADOR</a>
            <a class="btn button-funcionalidades" href="http://f5promotora.com.br/links" target="_blank"> <i class="fas fa-link"></i> LINKS</a>
            <a class="btn button-funcionalidades" href="http://f5promotora.com.br/canais-corporativos" target="_blank"> <i class="fas fa-users"></i> CANAIS CORPORATIVOS</a>
            <hr>
              <div class="d-none d-md-none d-lg-block">
                <p>Siga a F5 Promotora</p>
                <ul class="list-unstyled ajustar-redes">
                  
                  <li>
                    <a class="img-fluid" href="https://www.facebook.com/F5promotora/"> <i class="fab fa-facebook-square fa-2x"></i></a>
                  </li>

                  <li>
                    <a class="img-fluid" href="https://www.instagram.com/f5promotora/"><i class="fab fa-instagram fa-2x"></i></a>
                  </li>

                  <li>
                    <a class="img-fluid"href="https://www.linkedin.com/company/f5-promotora/"><i class="fab fa-linkedin fa-2x"></i></a>
                  </li>
                </ul>
               </div> 
          </div>
          <div class="col-lg-8 d-none d-lg-block d-xl-block" >
            <div>
             <img class="img-fluid" src="../../../assets/dinheiro.jpg" alt="dindin">
            </div>
            <div class="mt-2">
            <img class="img-fluid" src="../../../assets/shutterstock_77276413.jpg" alt="foto-funcionalidades">
          </div>
          </div>
        </div>
      </ng-template>
    </li>
  </ul>

</div>
<div [ngbNavOutlet]="nav" class="mt-2"></div>
  

