<div class="back mb-5">
    <div class="container">
    <div class="row m-0 p-0 d-flex align-items-center">
        
            <div class="col-lg-7 mt-5">
                <p>Quem somos?</p>
                <h3>Conheçam um pouco mais sobre a F5</h3>
                <p>O melhor do empréstimo consignado da região, confiança e segurança você encontra aqui.</p>
                
            </div>

            <div class="col-lg-5 d-flex justify-content-center">
                <img class="img-fluid " src="../../../assets/homem-historia.png" alt="homem-historia">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-lg-12 mb-5"> 
        <h2 class="text-center">
           A F5 Promotora, veio trazer para todos nossos parceiros um incentivo financeiro
           baseado em - Confiança e qualidade de serviço
        </h2>

    </div>

    <div class="row">
        <div class="col-lg-6 mt-3 mb-5">
            Eu Sou Paula Peixoto, diretora da F5 PROMOTORA. Fico muito satisfeita em tê-lo em nosso site, buscamos sempre, fazer o melhor, para atende-lo, 
            surpreende-lo e encanta-lo, tendo-o como nosso parceiro e amigo. A F5 promotora nasceu com o sonho de ser reconhecida pela excelência e qualidade em seus produtos e atendimentos, nascemos no interior de Russas, no Ceará. Hoje, nosso propósito é continuar realizando esse sonho tão grandioso, atendendo a vocês, parceiros, com máxima excelência, o que chamamos de atendimento 5 estrelas, sempre inovando e ousando em nossas estratégias.
            Contamos com um time preparado e comprometido, pois acreditamos totalmente no potencial de cada um.
        </div>

        <div class="col-lg-6 mt-3 mb-5">
             Temos como nossa aliada a tecnologia que nos aproxima ainda mais das pessoas, buscando sempre uma comunicação transparente. Nossa maneira de agir é o que eu chamo de ‘sentimento’ da nossa empresa, buscando sempre crescer sem perder às qualidades que nos fizeram chegar onde estamos. Por isso, para que continuemos a sermos a melhores, peço que nos ajude por meio de sugestões. Queremos continuar sendo uma empresa diferente, onde as pessoas estão sempre em primeiro lugar, e sua opinião é essencial para que isso aconteça. 
            Agradeço em meu nome e em nome de todos que fazem a F5 PROMOTORA, a sua visita, parceria e amizade! VAMOS PARA CIMA!
        </div>
    </div>

</div>
<br><br>
<div class="back-1" data-aos="fade-up">
    <div class="col-12">
        <div class="container">
            <div class="col-12 text-center">
                <p>Nosso objetivo</p>
                <h3>Conquistar e levar para todos, um empréstimo com júros baixos e confiável</h3>
                <a href="/produtos"> <i class="fas fa-arrow-right " data-aos="fade-right"></i> Saiba Mais</a>
            </div>
        </div>
    </div>
</div>
<br><br>

<div class="col-lg-12 mt-5 px-0">
    <app-mapeando-svg-brasil></app-mapeando-svg-brasil>
</div>



<div class="col-lg-12 mt-5">
    <app-contatos-utilitarios></app-contatos-utilitarios>
</div>