<div>
    <div class="row mb-5">
        <a href=""><img class="img-fluid mx-auto d-block" src="../../../assets/barrens-site.png" alt=""></a>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="card">
                    <img class="img-fluid mx-auto d-block" src="../../../assets/cartao-consignado.png" alt="Card image cap">
                    <div class="card-body text-center">
                    <h5 class="card-title">Cartão Consignado</h5>
                    <p class="card-text">É um cartão de crédito comum na qual pode ser utilizados para compras e saques dentro do limite disponivel cujo o desconto minimo da fatura é realizado em folha direto do salário.
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img class="img-fluid mx-auto d-block" src="../../../assets/emprestimo-consignado.png" alt="Card image cap">
                    <div class="card-body text-center">
                        <h5 class="card-title">Empréstimo Consignado</h5>
                        <p class="card-text">O crédito consignado é um empréstimo cujo pagamento das prestações é feito por meio de desconto direto do salário do trabalhador ou do benefício previdenciário, no caso de aposentados ou pensionistas.</p>
                    </div>
                </div> 
            </div>
  

            <div class="col-md-4">
                <div class="card">
                    <img class="img-fluid mx-auto d-block" src="../../../assets/emprestimo-pessoal.png" alt="Card image cap">
                    <div class="card-body text-center">
                    <h5 class="card-title">Empréstimo Pessoal</h5>
                    <p class="card-text">É um cartão de crédito comum na qual pode ser utilizados para compras e saques dentro do limite disponivel cujo o desconto minimo da fatura é realizado em folha direto do salário</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-12-lg">
                <div class="mt-5">
                    <a class = "btn button-produtos" href="/produtos">TODOS OS PRODUTOS</a>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="mt-5">

