.back{
    background: url("../../../assets/barrens-site.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    height: 70vh;
    color: black;
    border-radius: 3px;
    
}

.icons{
    border: 1px solid #BBB;
    margin: 0 auto 15px;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    padding: 4px;
}

.icon{
    background: #BBB;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 22px 24px;
}

.icon:hover{
    background: rgb(255, 106, 19);
   
}

.back-passo{
    height: 80vh;
}

.back-servicos{
    background-color: rgb(255, 106, 19);
    height: 100vh;
}
.btn-parceiro{
    
    background: rgb(255,221, 0);
    height: 100%;
    width: 40%;
}

.btn-parceiro:hover{
    
    background: rgb(255, 106, 19);
    
}

.back-entre-contato{
    height: 90vh;
}

.config-header{
    z-index: 0;
}

.teste{
    margin-top: -100px;
}

.porque-f5{
    color: rgb(255, 106, 19);

}


.alinhamento-central{
    display:flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 1024px){
    .button-produtos{
        width: 100%;
        height: 40px;
        margin-top: 15px
       
    }

    .back{
        background: rgb(255, 106, 19);
        display: flex;
        align-items: center;
        height: 50vh;
        color: white;
        border-radius: 3px;
        min-height: 100px;
    }
   
    
    .teste{
        margin-top: 10px;
    }

    .teste1{
       margin-top: 10px
    }

    .back-passo{
        height: 100%;
    }

    .back-servicos{
        height: 100%;
    }


}
