.back{
    background: url("../../../assets/barrens-site.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    height: 70vh;
    color: black;
    border-radius: 3px;
    
}

.config-header{
    z-index: 0;
}

.teste{
    margin-top: -100px;
}

.teste1{
    margin-top: -100px;
}

div.card{
    border-radius: 15px;
    margin-top: 10px 0;
    height: 100%;   
}

.porque-f5{
    color: rgb(255, 106, 19);

}

div.card img{
    margin-top: 25px;
   
}
.alinhamento-central{
    display:flex;
    justify-content: center;
    align-items: center;
}

// @media only screen and (width: 1024px){
//     .back{
//         background: url("../../../assets/barrens-site.png");
//         background-repeat: no-repeat;
//         background-size: 100%;
//         display: flex;
//         align-items: center;
//         height: 50vh;
//         color: black;
//         border-radius: 3px;
        
//     }
// }


@media only screen and (max-width: 1024px){
    div.card{
        border-radius: 15px;
        margin-top: 10px;
        height: 100%
          
    }

    div.card-body{
        height: 70%;
    }

    .button-produtos{
        width: 100%;
        height: 40px;
        margin-top: 15px
       
    }

    .back{
        background: rgb(255, 106, 19);
        display: flex;
        align-items: center;
        height: 50vh;
        color: white;
        border-radius: 3px;
        min-height: 100px;
    }
   
    
    .teste{
        margin-top: 10px;
    }


    .teste1{
       margin-top: 10px
    }

}
