<div class="body-altura">
    <div class="back mb-5 config-header">
        <div class="col-12">
            <div class="container">
                <div class="col-12 d-block d-sm-block d-md-block d-xl-none d-lg-none">
                    <p>Quem somos?</p>
                    <h3>Conheçam um pouco mais sobre nossos produtos</h3>
                    <p>O melhor do empréstimo consignado da região, confiança e segurança você encotra aqui.</p>
                    <a href="/produtos"> <i class="fas fa-arrow-right " data-aos="fade-right"></i> Saiba Mais</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 teste" [@bounceInUp]="bounceInUp">
        <app-parceiro></app-parceiro>
    </div>

    <div class="back-servicos d-flex align-items-center mt-5">
        <div class="col-lg-12 px-0 ">
            <div class="col-12 text-center mt-5 ">
                <h2>PORQUE A F5</h2>
            </div>
                <div class="container ">
                    <div class="row m-0 p-0 text-center">
                    
                        <div class="col-lg-4">
                            <div class="card back-1">
                                <div class="icons">
                                    <div class="icon">
                                        <img class="img-fluid" src="../../../assets/atendimento.png" alt="cadastroHome">
                                    </div>
                                </div>

                                <div class="card-body ">
                                    <h5 class="card-title">Atendimento Especializado</h5>
                                    <p class="card-text">O melhor time pronto para lhe atender</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4"> 
                            <div class="card back-2">
                                <div class="icons">
                                    <div class="icon">
                                        <img class="img-fluid" src="../../../assets/comissoes.png" alt="foneHome">
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Melhores Comissões</h5>
                                    <p class="card-text">Com a gente você ganha mais</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 mb-4">
                            <div class="card back-3">
                                <div class="icons">
                                    <div class="icon">
                                        <img class="img-fluid" src="../../../assets/digital.png" alt="aprovadoHome">
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Ainda Mais Digital</h5>
                                    <p class="card-text">Estamos conectados com o futuro

                                    </p>
                                </div>
                            </div>
                        </div>
        
                    </div>
                </div>
            
            </div>
        </div>

    <div class="back-passo d-flex align-items-center" data-aos="zoom-in">
        <div class="col-lg-12 mt-5 px-0 ">
            <div class="col-12 text-center porque-f5 mb-5">
                <h2>VENHA COM A F5</h2>
            </div>

            <div class="container ">
                <div class="row m-0 p-0 text-center">
                
                    <div class="col-lg-3">
                        <div class="icons">
                            <div class="icon">
                                <img class="img-fluid" src="../../../assets/cadastro.png" alt="cadastroHome">
                                
                            </div>
                        </div>
                        <h5>Faça seu cadastro</h5>
                    </div>
                    <div class="col-lg-3"> 
                        <div class="icons">
                            <div class="icon">
                        <img class="img-fluid" src="../../../assets/fone.png" alt="foneHome">
                        </div>
                        </div>
                        <h5>Entraremos em contato</h5>
                    </div>
                    <div class="col-lg-3">
                        <div class="icons">
                            <div class="icon">
                        <img class="img-fluid" src="../../../assets/aprovado.png" alt="aprovadoHome">
                        </div>
                        </div>
                        <h5>Seja aprovado</h5>
                    </div>
                    <div class="col-lg-3">
                        <div class="icons">
                            <div class="icon">
                        <img class="img-fluid" src="../../../assets/recebacomissoes.png" alt="comissoesHome">
                        </div>
                        </div>
                        <h5>Receba suas comissões</h5>
                    </div>

                    <div class="col-lg-12 text-center mt-5 mb-5">
                        <a class="btn btn-parceiro rounded-pill" href="/parceiro"><strong>SEJA UM PARCEIRO</strong></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 px-0" >
        <app-mapeando-svg-brasil></app-mapeando-svg-brasil>
    </div>

    <div class="col-lg-12 mt-5 px-0 config-header">
        <app-produtos-utilitarios></app-produtos-utilitarios>
    </div>


    <div class="col-lg-12 teste">
        <app-contatos-utilitarios></app-contatos-utilitarios>
    </div>

</div>
