<div class="back mb-5 config-header" data-aos="fade-up">
    <div class="col-12">
        <div class="container">
            <div class="col-12 d-block d-sm-block d-md-block d-xl-none d-lg-block">
                <p>Quem somos?</p>
                <h3>Conheçam um pouco mais sobre nossos produtos</h3>
                <p>O melhor do empréstimo consignado da região, confiança e segurança você encotra aqui.</p>
                <a href="/produtos"> <i class="fas fa-arrow-right " data-aos="fade-right"></i> Saiba Mais</a>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12 teste1">
    <app-parceiro></app-parceiro>
</div>

<div class="back-cards">
<div class="container" data-aos="fade-left">
    <div class=" row m-0 p-0">
        <div class="col-12 d-flex mb-5 flex-column align-items-center text-center mt-5 mb-1 porque-f5">
            <h2>PORQUE A F5</h2>
        </div>

        <div class="col-md-4 mb-3">
            <div class="card">
                <img class="img-fluid mx-auto d-block" src="../../../assets/cartao-consignado.png" alt="Card image cap">
                <div class="card-body text-center">
                    <h5 class="card-title">Atendimento Especializado</h5>
                    <p class="card-text">O melhor time pronto para lhe atender.
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="card">
                <img class="img-fluid mx-auto d-block" src="../../../assets/emprestimo-consignado.png"
                    alt="Card image cap">
                <div class="card-body text-center">
                    <h5 class="card-title">Melhores Comissões</h5>
                    <p class="card-text">Com a gente você ganha mais.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-5">
            <div class="card">
                <img class="img-fluid mx-auto d-block" src="../../../assets/emprestimo-pessoal.png"
                    alt="Card image cap">
                <div class="card-body text-center">
                    <h5 class="card-title">Ainda Mais Digital</h5>
                    <p class="card-text">Estamos conectados com o futuro</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="col-lg-12 mt-5 px-0" data-aos="zoom-in">
    <app-mapeando-svg-brasil></app-mapeando-svg-brasil>
</div>

<div class="col-lg-12 mt-5 px-0 config-header">
    <app-produtos-utilitarios></app-produtos-utilitarios>
</div>


<div class="col-lg-12 teste">
    <app-contatos-utilitarios></app-contatos-utilitarios>
</div>



