<div class="back mb-5">
  <div class="container">
    <div class="row m-0 p-0 d-flex align-items-center">
          <div class="col-lg-7 mt-5">
            <p>Quer ser um parceiro?</p>
            <h3>O QUE GANHA UM PARCEIRO DA F5?</h3>
            <p>Seja nosso(a) parceiro(a)! Venha para F5 Promotora e tenha direitos a
              vantagens exclusivas que só uma das maiores empresas do mercado pode oferecer.</p>
              <a class="btn d-flex justify-content-center"><i class="fas fa-arrow-down fa-3x"></i></a>
          </div>

          <div class="col-lg-5 d-flex justify-content-center">
              <img class="img-fluid img" src="../../../assets/parceiro.png" alt="homem-historia">
          </div>
      </div>
  </div>
</div>

<div class="container">
  <div class="row m-0 p-0">

    <div class="col-lg-4 ">
  
        <div class="card back-1">
          <img class="card-img-top img-fluid" src="../../../assets/1.png" alt="Card image cap">
          <div class="card-body">

            <h6 class="card-title">Ferramenta EXCLUSIVA para simulações</h6>

          </div>
        </div>
        <div class="card back-2">
          <img class="card-img-top img-fluid" src="../../../assets/2.png" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Atendimento exclusivo e personalizado</h6>
          </div>
        </div>

        <div class="card back-3">
          <img class="card-img-top img-fluid" src="../../../assets/3.png" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Operacional ágil e altamente capacitado</h6>

          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card back-4">
          <img class="card-img-top img-fluid" src="../../../assets/4.png" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Sistema 24h online e funcional</h6>

          </div>
        </div>

        <div class="card back-5">
          <img class="card-img-top img-fluid" src="../../../assets/5.png" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Time comercial presente</h6>

          </div>
        </div>

        <div class="card back-6">
          <img class="card-img-top img-fluid" src="../../../assets/6.png" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Campanhas periódicas com premiações </h6>

          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card back-7">
          <img class="card-img-top img-fluid" src="../../../assets/7.png" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Variedade de produtos e serviços</h6>
          </div>
        </div>

        <div class="card back-8">
          <img class="card-img-top img-fluid" src="../../../assets/8.png" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Pagamento diário de comissões</h6>

          </div>
        </div>

        <div class="card back-9">
          <img class="card-img-top img-fluid" src="../../../assets/9.png" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Empresa consolidade e respeitada para simulações</h6>
          </div>
        </div>
      </div>

  </div>


</div>

<div class="row m-0 p-0">
  <div class="col-lg-12 px-0">
    <app-contatos-utilitarios></app-contatos-utilitarios>
  </div>

  <div class="col-lg-12 px-0">
    <app-produtos-utilitarios></app-produtos-utilitarios>
  </div>
</div>