<div class="row m-0 p-0">
  <div class="col-12 ">
    <div class="d-flex flex-column align-items-center text-center mt-5 mb-5">
      <h2>O QUE GANHA UM PARCEIRO DA F5?</h2>
      <p>Seja nosso(a) parceiro(a)! Venha para F5 Promotora e tenha direitos a
        vantagens exclusivas que só uma das maiores empresas do mercado pode oferecer.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row m-0 p-0">

    <div class="col-lg-4 ">
  
        <div class="card">
          <img class="card-img-top img-fluid" src="../../../assets/1.png" alt="Card image cap">
          <div class="card-body">

            <h6 class="card-title">Ferramenta EXCLUSIVA para simulações</h6>

          </div>
        </div>
        <div class="card">
          <img class="card-img-top img-fluid" src="../../../assets/2.png" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Atendimento exclusivo e personalizado</h6>
          </div>
        </div>

        <div class="card">
          <img class="card-img-top img-fluid" src="../../../assets/3.png" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Operacional ágil e altamente capacitado</h6>

          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="../../../assets/4.png" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Sistema 24h online e funcional</h6>

          </div>
        </div>

        <div class="card">
          <img class="card-img-top img-fluid" src="../../../assets/5.png" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Time comercial presente</h6>

          </div>
        </div>

        <div class="card">
          <img class="card-img-top img-fluid" src="../../../assets/6.png" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Campanhas periódicas com premiações </h6>

          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="../../../assets/7.png" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Variedade de produtos e serviços</h6>
          </div>
        </div>

        <div class="card">
          <img class="card-img-top img-fluid" src="../../../assets/8.png" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Pagamento diário de comissões</h6>

          </div>
        </div>

        <div class="card">
          <img class="card-img-top img-fluid" src="../../../assets/9.png" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Empresa consolidade e respeitada para simulações</h6>
          </div>
        </div>
      </div>

  </div>


</div>

<div class="row m-0 p-0">
  <div class="col-lg-12 px-0">
    <app-contatos-utilitarios></app-contatos-utilitarios>
  </div>

  <div class="col-lg-12 px-0">
    <app-produtos-utilitarios></app-produtos-utilitarios>
  </div>
</div>