.back{
    background: rgb(255,106,19);
    height: auto;
    color: #fff;
    border-radius: 3px;
   
}

.ajuste-parceiro{
    display: flex;
    justify-content: center;
 
}

.img{
    width: 60vh;
    height: auto;
}

h3 {
    font-weight: 800;
}

div.card{
    min-height: 200px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

div.card img{
    width: 10%;
    height: 10%;
    margin: 30px 0;
 
}

div.back-1:hover{
    border-width: medium;
    border-style: solid;
    border-color: #F00;
}

div.back-2:hover{
    border-width: medium;
    border-style: solid;
    border-color: green;
}

div.back-3:hover{
    border-width: medium;
    border-style: solid;
    border-color: purple;
}

div.back-4:hover{
    border-width: medium;
    border-style: solid;
    border-color: orange;
}

div.back-5:hover{
    border-width: medium;
    border-style: solid;
    border-color: red;
}

div.back-6:hover{
    border-width: medium;
    border-style: solid;
    border-color: black;
}

div.back-7:hover{
    border-width: medium;
    border-style: solid;
    border-color: gray;
}

div.back-8:hover{
    border-width: medium;
    border-style: solid;
    border-color: blue;
}

div.back-9:hover{
    border-width: medium;
    border-style: solid;
    border-color: yellow;
}



@media only screen and (max-width: 992px){
    .back{
        background: rgb(255,106,19);
        height: auto;
        color: white;
        border-radius: 3px;
        height: auto;
        text-align: center;
    }

  
}
