<div class="col">
    <div class="ajuste-parceiro mt-5">
      <h1>O QUE GANHA UM PARCEIRO DA F5?</h1>
    </div>
    <div class="ajuste-parceiro mb-5">
        <p>Seja nosso(a) parceiro(a)! Venha para F5 Promotora e tenha direitos a
         vantagens exclusivas que só uma das maiores empresas do mercado pode oferecer.</p>
    </div>
   
</div>

<div class="row">
    <div class="col-xl-12">

        <form class="row">

            <div class="col-xl-12">
              <div class="form-row">
                  
                <div class="form-group col-md-3">
                  <label for="inputNome">Nome Completo</label>
                  <input type="text" class="form-control" id="inputNome" placeholder="Informe seu nome">
                </div>
                
                <div class="form-group col-md-2">
                  <label for="inputCPF">CPF</label>
                  <input type="text" class="form-control" id="inputCPF" placeholder="Informe seu CPF">
                </div>

                <div class="form-group col-md-4">
                  <label for="inputEmail4">Email</label>
                  <input type="email" class="form-control" id="inputEmail4" placeholder="email@email.com">
                </div>
                <div class="form-group col-md-3">
                  <label for="inputPassword4">Telefone</label>
                  <input class="text" type="tel" class="form-control" id="inputPassword4" placeholder="(00) - 0 0000-0000">
          
                </div>
              </div>
          
              <div class="form-row">
                <div class="form-group col-md-6">
                 <label for="inputState">Estado</label>
                  <select id="inputState" class="form-control">
                   <option selected>UF</option>
                    <option>...</option>
                  </select>
                </div>
          
                <div class="form-group col-md-6">
                  <label for="inputCity">Cidade</label>
                  <input type="text" class="form-control" id="inputCity">
                </div>
             </div>
          
            <div class="form-row">
              <div class="col-xl-12">
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Mensagem</label>
                  <textarea placeholder="Deixe sua mensagem" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
              </div>
            
            </div>
                <div class="form-row">
                  <button type="submit" class="btn btn-success mb-2 ml-1">Enviar Mensagem</button>
                </div>
              
            </div>
            
          </form>

        <!-- <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title">Seja Parceiro</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Aqui ficara o conteudo </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
            </div>
          </ng-template>
          
          <ng-template #longContent let-modal>
            <div class="modal-header">
              <h4 class="modal-title">Modal title</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
            </div>
          </ng-template>
          
          <button class="btn btn-outline-primary mb-2 mr-2" (click)="openXl(content)">Extra large modal</button>
           -->
    </div>
</div>

